body{
	/*background-color: purple;*/
	margin: 0px;
}

/*
======================================
======= Navigation Bar Styling =======
======================================
*/

nav-bar{
	background-color: black;
	/*background-color: #404040;*/
	overflow: auto;
	display: block;
	opacity: .7;
	/*background-color: red;*/
	font-family: Arial, Helvetica, sans-serif;
	height: 58px;
}

nav-bar ul{
	padding: 0px; /* Default ul has padding-left: 40px; */
	margin: 0px; /* Default ul has margin before and after at 1em */
	text-align: center;
	/*background-color: orange;*/
}

nav-bar ul li{
	display: inline;
	/*background-color: yellow;*/
	margin-right: -2px;
	margin-left: -2px;
}

nav-bar ul li a{
	display: inline-block;
	text-decoration: none;
	color: white;
	/*background-color: green;*/
	padding: 20px 40px 20px 40px;
	margin: 0px;
}

nav-bar ul li a:hover{
	color: orange;
}

/*
======================================
========= Home Page Styling ==========
======================================
*/

#home{
	text-align: center;
	/*background-color: blue;*/
}

#home h1{
	color: white;
	vertical-align: middle;
	/*background-color: red;*/
	margin-top: -58px;
	height: 600px;
	line-height: 600px;
	background-image: url("/website_backgrounds/JessicaACusick_1_nomark.JPG");
}

/*
======================================
========== Gallery Styling ===========
======================================
*/

photo-gallery{
	/*background-image: url("/website_backgrounds/black_background2.jpg");*/
	display: inline-block;
	text-align: center
}

photo-gallery h2{
	border-bottom: 2px solid black;
	margin: 20px 200px 20px 200px;
}

photo-gallery photo{
	display: inline-block;
	margin: 10px;
}

photo-gallery photo img{
	border: 5px gray solid;
}

photo-gallery photo img:hover{
	border: 5px gray solid;
	opacity: .2;
	cursor: pointer;
}

/*
======================================
========= About Me Styling ===========
======================================
*/

#about_me{
	text-align: center;
}

#about_me h2{
	border-bottom: 2px solid black;
	margin: 20px 200px 20px 200px;
}

/*
======================================
========== Contact Styling ===========
======================================
*/

#contact{
	text-align: center;
}

#contact h2{
	border-bottom: 2px solid black;
	margin: 20px 200px 20px 200px;
}

/*
======================================
========== Footer Styling ===========
======================================
*/

#footer{
	background-color: black;
	color: white;
	height: 58px;
	line-height: 58px; /*This centers the text vertically*/
	padding-left: 100px;
	padding-right: 100px;
}